  <ion-view title="Estacionamento" ng-controller="estacionamentoCtrl">
    <ion-slides scroll="false" options="swiperOptions" slider="swiper" ion-wizard>

      <ion-slide-page ion-wizard-step >
        <ion-content class="page">
          <div class="bar-header padding text-center">
            <h3 class="title" style="color: #eeeeee;">Novo Estacionamento</h3>
          </div>
          <div class="row">
            <div class="col col-center">
              <div class="card rounded">
                <div class="item item-text-wrap">
                  <div class="list">
                    <label class="item item-input">
                      <input type="text" ng-model="estacionamento.nome" placeholder="Nome do Estacionamento" ng-required="true">
                      <code>{{form.input.$error.required}}</code>
                    </label>
                    <label class="item item-input">
                      <input type="number"  ng-model="estacionamento.preco" placeholder="Preço por Hora (R$)" ng-required="true">
                      <code>{{form.input.$error.required}}</code>
                    </label>
                    <label class="item item-input">
                      <textarea type="text" placeholder="Informações Adicionais" ng-model="estacionamento.complementoLocalizacao"></textarea>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
        <ion-footer-bar class="bar-subfooter bar-dark">
          <div class="col col-center">
            <button class="button button-block button-dark" ion-wizard-next>
              <a class="button  button-clear">Próximo</a>
            </button>
          </div>
        </ion-footer-bar>
        <ion-footer-bar class="bar-stable">
        </ion-footer-bar>
      </ion-slide-page>
      <ion-slide-page ion-wizard-step>
        <div class="row" id="pac-container">
          <ion-content scroll="false" class="page">
            <div class="bar-header padding text-center">
              <h2 class="title" style="color: #eeeeee;">Localização</h2>
            </div>
            <input id="pac-input" class="controls item-block" type="text" ng-focus="disableTap()" placeholder="Localização do estacionamento">
            <map on-create="mapCreated(map)"></map>
          </ion-content>
          <ion-footer-bar class="bar-subfooter bar-dark">
            <div class="col col-center">
              <button class="button button-block button-dark" ion-wizard-previous>
                <a class="button  button-clear">Anterior</a>
              </button>
            </div>
            <div class="col col-center">
              <!--button class="button button-block button-dark" ion-wizard-next>
                <a class="button icon-right ion-chevron-right button-clear">Próximo</a>
              </button-->
              <button class="button button-block button-dark" ng-click="inserirEstacionamento()">
                <a class="button button-clear">Confirmar</a>
              </button>
            </div>
          </ion-footer-bar>
          <ion-footer-bar class="bar-stable">
          </ion-footer-bar>
        </div>
      </ion-slide-page>
      <!--ion-slide-page ion-wizard-step>
        <ion-content class="page">
          <div class="bar-header padding text-center">
            <h2 class="title" style="color: #eeeeee;">Dias da Semana</h2>
          </div>
          <div class="row">
            <div class="col col-center">
              <div class="card rounded">
                <div class="item item-text-wrap">
                  <div class="list">
                    <div class="item item-input-inset row" >
                      <ion-list>
                        <ion-checkbox ng-model="horario.todos">
                          Todos os dias da semana
                        </ion-checkbox>
                        <ion-checkbox ng-model="horario.segunda">
                          Segunda-feira
                        </ion-checkbox>
                        <ion-checkbox ng-model="horario.terca">
                          Terça-feira
                        </ion-checkbox>
                        <ion-checkbox ng-model="horario.quarta">
                          Quarta-feira
                        </ion-checkbox>
                        <ion-checkbox ng-model="horario.quinta">
                          Quinta-feira
                        </ion-checkbox>
                        <ion-checkbox ng-model="horario.sexta">
                          Sexta-feira
                        </ion-checkbox>
                        <ion-checkbox ng-model="horario.sabado">
                          Sábado
                        </ion-checkbox>
                        <ion-checkbox ng-model="horario.domingo">
                          Domingo
                        </ion-checkbox>
                      </ion-list>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
        <ion-footer-bar class="bar-subfooter bar-dark">
          <div class="col col-center">
            <button class="button button-block button-dark" ion-wizard-previous>
              <a class="button icon-left ion-chevron-left button-clear">Anterior</a>
            </button>
          </div>
          <div class="col col-center">
            <button class="button button-block button-dark" ion-wizard-next>
              <a class="button icon-right ion-chevron-right button-clear">Próximo</a>
            </button>
          </div>
        </ion-footer-bar>
        <ion-footer-bar class="bar-stable">
        </ion-footer-bar>
      </ion-slide-page-->
      <!--ion-slide-page ion-wizard-step >
        <ion-content class="page" scroll="false">
          <div class="bar-header padding text-center">
            <h3 class="title" style="color: #eeeeee;">Horários</h3>
          </div>
          <div class="row">
            <div class="col col-center">
              <div class="card rounded">
                <div class="item item-text-wrap">
                  <ion-list>
                    <script id="my-modal.html" type="text/ng-template">
                      <ion-modal-view >
                        <ion-content class="page" scroll="false">
                          <div class="bar-header padding text-center">
                            <h3 class="title" style="color: #eeeeee;">Definir Horário</h3>
                          </div>
                          <div class="row">
                            <div class="col col-center">
                              <div class="card rounded">
                                <div class="item item-text-wrap">
                                  <div class="list">
                                    <div class="item item-input-inset row" >
                                      <ion-list class="button-bar">
                                        <button class="button button-full button-dark" ion-datetime-picker time ng-model="horario.segunda.inicio" >

                                          <a class="icon icon-right ion-ios-time"></a>
                                          Abre às <span> {{horario.segunda.inicio| date: "HH:mm"}} </span>
                                        </button>
                                        <button class="button button-full button-dark" ion-datetime-picker time ng-model="horario.segunda.fim" >
                                          <i class="icon ion-ios-time dark"></i>
                                          Fecha às <span> {{horario.segunda.fim| date: "HH:mm"}} </span>
                                        </button>
                                        <ion-item>
                                          <button class="button button-block button-dark" ng-click="closeModal()">
                                            Confirmar!
                                          </button>
                                        </ion-item>
                                      </ion-list>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </ion-content>
                      </ion-modal-view>
                    </script>

                    <ion-item  ng-click="openModal()">
                      Segunda-feira:
                      <span> {{horario.segunda.fim| date: "HH:mm"}} </span>
                    </ion-item>
                    <ion-item ng-model="horario.terca">
                      Terça-feira
                    </ion-item>
                    <ion-item ng-model="horario.quarta">
                      Quarta-feira
                    </ion-item>
                    <ion-item ng-model="horario.quinta">
                      Quinta-feira
                    </ion-item>
                    <ion-item ng-model="horario.sexta">
                      Sexta-feira
                    </ion-item>
                    <ion-item ng-model="horario.sabado">
                      Sábado
                    </ion-item>
                    <ion-item ng-model="horario.domingo">
                      Domingo
                    </ion-item>
                  </ion-list>
                </div>
              </div>
            </div>

          </div>
        </ion-content>
        <ion-footer-bar class="bar-subfooter bar-dark">
          <div class="col col-center">
            <button class="button button-block button-dark" ion-wizard-previous>
              <a class="button icon-left ion-chevron-left button-clear">Anterior</a>
            </button>
          </div>
          <div class="item-divider-platform"></div>
          <div class="col col-center">
            <button class="button button-block button-dark" ng-click="inserirEstacionamento()">
              Finalizar!
            </button>
          </div>
        </ion-footer-bar>
        <ion-footer-bar class="bar-stable">
        </ion-footer-bar>
      </ion-slide-page-->
    </ion-slides>
  </ion-view>
