<ion-view id="deviceready" hide-nav-bar="false" class="page">
  <ion-content padding="true" scroll="false" ng-controller="estadiaCtrl" >
      <div class="bar-header padding text-center">
        <h1 class="title" style="color: #eeeeee;">
          Estadia
        </h1>
      </div>
      <!--h2 on-create="verificarEstadia(value)" class="bar-subheader padding text-center">{{value}}</h2-->
      <div class="row responsive-md">
        <div class="col col-50 col-offset-25">
          <div class="button-bar-inline">
            <div ng-show="isEstadiaAndamento()" class="list-item" ng-init="timerType = 'Polling Server'">
              <h2 class="title" style="color: #eeeeee;">
                 Estadia em andamento
              </h2>
              <h4 class="title" style="color: #eeeeee;">
                <timer interval="1000" auto-start="false"">
                  Tempo decorrido : {{hhours}}:{{mminutes}}:{{sseconds}}

                  <!--br>Preço Estimado : R$ <span ng-bind="seconds * getTimeTimer(sseconds)"></span></br-->
                </timer>
                <br><span>Preço Estimado : R${{timerConsole}}</span> </br>

                <!--br>Preço Estimado : R$ <span ng-bind="3 * getTimeTimer()"></span></br-->
              </h4>
            </div>
            <button ng-show="isEstadiaAndamento()" class="button button-block button-dark" ng-click="terminarEstadia('poll-server')">Terminar</button>
            <button ng-show="!isEstadiaAndamento()"  class="button button-block button-dark" ng-click="scanNow('poll-server')">Iniciar</button>
          </div>
        </div>
      </div>
    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="">
        <h2>Estacionamento Legal</h2>
        <p>Tempo decorrido: 01:30:15</p>
      </a>
    </div>

  </ion-content>
</ion-view>
